<body>

  <div class="row">
    <div class="col-md-12">
      <mat-card class="card">
        <mat-card-content>
          <div class="col-md-12">
            <h2 class="text-center">Datos cliente</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre empresa</mat-label>
                <input matInput [(ngModel)]="txtNombreEmpresa"  [disabled]="isDisabled">
                <div *ngIf="blnNombreEmpresa" style="color: brown;">El campo empresa es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre contacto</mat-label>
                <input id="txtNombreContacto" matInput [(ngModel)]="txtNombreContacto" [disabled]="isDisabled">
                <div *ngIf="blnNombreContacto" style="color: brown;">El campo nombre de contacto es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>Nit / Cédula</mat-label>
                <input id="txtNit" matInput [(ngModel)]="txtNit" [disabled]="isDisabled">
                <div *ngIf="blnNit" style="color: brown;">El campo nit es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>Tel. Contacto</mat-label>
                <input id="txtTel_Contacto" matInput [(ngModel)]="txtTel_Contacto" [disabled]="isDisabled">
                <div *ngIf="blnTel_Contacto" style="color: brown;">El campo telefono de contacto es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input id="txtEmail" matInput [(ngModel)]="txtEmail" [disabled]="isDisabled">
                <div *ngIf="blnEmail" style="color: brown;">El campo email es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Fecha de entrega</mat-label>
                <input matInput [matDatepicker]="picker" id="txtFechaEntrega" [(ngModel)]="txtFechaEntrega" [disabled]="isDisabled">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #picker color="primary"></mat-datepicker>
                <div *ngIf="blnFechaEntrega" style="color: brown;">El campo fecha de entrega es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="form-group col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <input id="txtCiudad" matInput [(ngModel)]="txtCiudad" [disabled]="isDisabled">
                <div *ngIf="blnCiudad" style="color: brown;">El campo ciudad es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="form-group col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Dirección de entrega</mat-label>
                <input id="txtDireccionDeEntrega" matInput [(ngModel)]="txtDireccionDeEntrega" [disabled]="isDisabled">
                <div *ngIf="blnDireccionDeEntrega" style="color: brown;">El campo dirección de entrega es obligatorio
                </div>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-7">
      <mat-card class="card">
        <mat-card-content>
          <div class="col-md-12">
            <h2 class="text-center">Bolsa</h2>
          </div>
          <div class="row">


            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Tipo Cogedera</mat-label>
                    <mat-select id="slcTipoCogedera" [(ngModel)]="slcTipoCogedera" [disabled]="isDisabled"
                      (selectionChange)="validateShowInputAsas(slcTipoCogedera)">
                      <mat-option *ngFor="let food of TipoCogedera" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                    <div *ngIf="blnTipoCogedera" style="color: brown;">El campo tipo de cogedera es obligatorio</div>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Tipo bolsa</mat-label>
                    <mat-select id="slcTipoBolsa" [(ngModel)]="slcTipoBolsa" [disabled]="isDisabled"
                      (selectionChange)="validateShowInputBolsas(slcTipoBolsa)"
                      (ngModelChange)="CambiarImagen(slcTipoBolsa)">
                      <mat-option *ngFor="let food of TipoBolsa" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                    <div *ngIf="blnTipoBolsa" style="color: brown;">El campo tipo de bolsa es obligatorio</div>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <mat-card class="card">
                <div class="row justify-content-center" style="align-content: center;">
                  <img src="../../../assets/img/bolsas/{{RutaImagen}}.png" width="160" height="130" class="mx-auto">
                </div>
              </mat-card>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Unidades requeridas</mat-label>
                <input matInput id="txtUnidadesRequeridas" [(ngModel)]="txtUnidadesRequeridas" [disabled]="isDisabled">
                <div *ngIf="blnUnidadesRequeridas" style="color: brown;">El campo unidades requeridas es obligatorio
                </div>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Ancho (cm)</mat-label>
                <input matInput id="txtAncho_cm" [(ngModel)]="txtAncho_cm" [disabled]="isDisabled">
                <div *ngIf="blnAncho_cm" style="color: brown;">El campo ancho (cm) es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Alto (cm)</mat-label>
                <input matInput id="txtAlto_cm" [(ngModel)]="txtAlto_cm" [disabled]="isDisabled">
                <div *ngIf="blnAlto_cm" style="color: brown;">El campo alto (cm) es obligatorio</div>
              </mat-form-field>
            </div>

            <div class="col-md-6" *ngIf="blnFuelleOpen">
              <mat-form-field class="example-full-width">
                <mat-label>Fuelle (cm)</mat-label>
                <input matInput id="txtFuelle_cm" [(ngModel)]="txtFuelle_cm" [disabled]="isDisabled">
                <div *ngIf="blnFuelle_cm" style="color: brown;">El campo fuelle (cm) es obligatorio</div>
              </mat-form-field>
            </div>

            <div class="col-md-6" *ngIf="blnAsas">
              <mat-form-field class="example-full-width">
                <mat-label>Largo Asas (cm)</mat-label>
                <input matInput id="txtLargoAsas_cm" [(ngModel)]="txtLargoAsas_cm" [disabled]="isDisabled">
                <div *ngIf="blnLargoAsas_cm" style="color: brown;">El campo largo de asas (cm) es obligatorio</div>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-5">
      <mat-card class="card">
        <mat-card-content>
          <div class="col-md-12">
            <h2 class="text-center">Material</h2>
          </div>
          <div class="row">

            <div class="col-md-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Material</mat-label>
                <mat-select id="slcMaterial" [(ngModel)]="slcMaterial" [disabled]="isDisabled">
                  <mat-option *ngFor="let food of TipoMaterial" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
                <div *ngIf="blnTipoCogedera" style="color: brown;">El campo material es obligatorio</div>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Color</mat-label>
                <input matInput id="txtColor" [(ngModel)]="txtColor" [disabled]="isDisabled">
                <div *ngIf="blnColor" style="color: brown;">El campo color es obligatorio</div>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Estampado</mat-label>
                <mat-select id="slcEstampado" [(ngModel)]="slcEstampado" [disabled]="isDisabled">
                  <mat-option *ngFor="let food of TipoEstampado" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
                <div *ngIf="blnEstampado" style="color: brown;">El campo estampado es obligatorio</div>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Caras</mat-label>
                <mat-select id="slcCaras" [(ngModel)]="slcCaras" [disabled]="isDisabled">
                  <mat-option *ngFor="let food of NumeroCaras" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
                <div *ngIf="blnCaras" style="color: brown;">El campo caras es obligatorio</div>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Numero de tintas</mat-label>
                <mat-select id="slcNumeroTintas" [(ngModel)]="slcNumeroTintas" [disabled]="isDisabled">
                  <mat-option *ngFor="let food of NumeroTintas" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
                <div *ngIf="blnNumeroTintas" style="color: brown;">El campo número de tintas es obligatorio</div>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Color tintas</mat-label>
                <input type="color" matInput id="txtColorTintas" [(ngModel)]="txtColorTintas" [disabled]="isDisabled">
                <div *ngIf="blnColorTintas" style="color: brown;">El campo color de tintas es obligatorio</div>
              </mat-form-field>
            </div>

            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary btn-lg text-center"
                (click)="CalcularCorteBackend()" *ngIf="mostrarBotonCotizar">Cotizar</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-12" *ngIf="blnCotizacionTable">
      <mat-card class="card">
        <mat-card-content>
          <div class="col-md-12">
            <h2 class="text-center">Cotización</h2>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Valor Bolsa:</mat-label>
                      <input matInput [(ngModel)]="respuestaCotizacion.ValorPorBolsa" disabled>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Utilidad:</mat-label>
                      <input matInput [(ngModel)]="strUtilidad" (keyup)="CambiarUtilidad('true')">
                    </mat-form-field>
                  </div>


                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="form-group example-full-width">
                    <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource">
                      <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef>Precio Venta</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="unitPrice">
                        <mat-header-cell *matHeaderCellDef>Unitario</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.unitPrice |
                          currency:'$':'symbol-narrow'}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="totalPrice">
                        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.totalPrice |
                          currency:'$':'symbol-narrow'}}</mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off" [(ngModel)]="checkCliente" (click)="ValidacionCheckCliente()" *ngIf="mostrarBotonCheckCliente"> 
                  <label class="btn btn-outline-success" for="btn-check-outlined">Check Cliente</label>
                  <input type="checkbox" class="btn-check" id="btn-check-outlined2" autocomplete="off" [(ngModel)]="checkDinero" (click)="ValidacionCheckClienteDinero()" *ngIf="mostrarBotonCheckDineroCliente">
                  <label class="btn btn-outline-success" for="btn-check-outlined2">Dinero cliente</label><br>
                </div>
                <div class="col-md-7">
                  <button type="button" class="btn btn-primary btn-lg text-center" (click)="GuardarCotizacionBackend();" *ngIf="mostrarBotonGuardar">Guardar</button>
                  <button type="button" class="btn btn-primary btn-lg text-center" (click)="GenerarPdf();" *ngIf="mostrarBotonGenerar_PDF">Generar PDF</button>
                  <button type="button" class="btn btn-primary btn-lg text-center" (click)="EditarDetalleCotizacion();" *ngIf="mostrarBotonEditar">Editar</button>
                  <button type="button" class="btn btn-primary btn-lg text-center" (click)="GenerarOT();" *ngIf="mostrarBotonGenerar_OT">Generar OT</button>
                </div>
              </div>
              
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>