<div class="row">
    <div class="col-md-6 ">
        <div class="card p-3">
            <h1>Crear materiales</h1>
            <div class="photo-user">
                <img src="../../../assets/img/rolloHorizontal.png">
            </div>
            <div class="user-info">
                <p>Descripción: materiales como kambre.. y tipos de tela</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <div class="card p-3">
            <h1>Crear impresiones</h1>
            <div class="photo-user">
                <img src="../../../assets/img/rolloHorizontal.png">
            </div>
            <div class="user-info">
                <p>Descripción: Tipos de impresiones...</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <div class="card p-3">
            <h1>Crear Cordon</h1>
            <div class="photo-user">
                <img src="../../../assets/img/rolloHorizontal.png">
            </div>
            <div class="user-info">
                <p>Descripción: Tipos de cordones...</p>
            </div>
        </div>
    </div>

    
    <div class="col-md-6 ">
        <div class="card p-3">
            <h1>Crear Confección</h1>
            <div class="photo-user">
                <img src="../../../assets/img/rolloHorizontal.png">
            </div>
            <div class="user-info">
                <p>Descripción: Tipos de confeccinoes...</p>
            </div>
        </div>
    </div>
</div>