.card {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.cardNotHover {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.photo-user {
    width: 100px;
    /* Ancho deseado */
    height: 100px;
    /* Alto deseado */
    border-radius: 50%;
    /* Hacer la imagen redonda */
    overflow: hidden;
    /* Ocultar cualquier parte de la imagen que se desborde */
    margin: 0 auto;
    /* Centrar horizontalmente en su contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Si deseas agregar un borde a la imagen */
.photo-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajustar la imagen al círculo sin distorsión */
    border: 2px solid #fff;
    /* Cambiar el color y el grosor del borde según tus preferencias */
}