<div class="row">
  <div class="col-md-6 ">
    <div class="card p-3">
      <h1>Bienvenido a Ecobolsas</h1>
      <div class="photo-user">
        <img src="../../../assets/img/{{pathImageGener}}.png">
      </div>
      <div class="user-info">
        <p>Nombre: {{ nombre }}</p>
        <p>Cargo: {{ cargo }}</p>
        <p>Rol: {{ rol }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="cardNotHover p-3">
      <p>Actividades</p>
      <ul class="list-group custom-list">
        <li class="list-group-item custom-list-item" *ngIf="blpermisosCotizar">
          <a routerLink="/cotizador/0">Cotizar</a>
        </li>
        <li class="list-group-item custom-list-item" (click)="mostrarSubopciones = !mostrarSubopciones">
          <a>Cotizaciones</a>
          <ul *ngIf="mostrarSubopciones">
            <li class="list-group-item custom-list-item"  *ngIf="blpermisosCotizacionesRealizadas">
              <a routerLink="/misCotizaciones">Cotizaciones realizadas</a>
            </li>
            <li class="list-group-item custom-list-item" *ngIf="blpermisosHistoricoDeMisOT">
              <a routerLink="/misOT">Histórico de mis OT</a>
            </li>
          </ul>
        </li>
        <li class="list-group-item custom-list-item" *ngIf="blpermisosOTActivas">
          <a routerLink="/oTActivas">OT Activas</a>
        </li>
        <li class="list-group-item custom-list-item" *ngIf="blpermisosCambiarPrecios">
          <a routerLink="/materiales">Cambiar precios</a>
        </li>
        <li class="list-group-item custom-list-item" *ngIf="blpermisosUsuarios">
          <a routerLink="/users">Usuarios</a>
        </li>
        <li class="list-group-item custom-list-item" *ngIf="blpermisosCrearUsuario">
          <a routerLink="/signup">Crear usuario</a>
        </li>
      </ul>
    </div>
  </div>
  

</div>