<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenMateriales = true"
    (closed)="panelOpenMateriales = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Materiales
            </mat-panel-title>
            <mat-panel-description>
                Tabla de materiales...
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="card">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre Material</th>
                                    <th scope="col">Material</th>
                                    <th scope="col">Largo (m)</th>
                                    <th scope="col">Ancho (cm)</th>
                                    <th scope="col">grm/m2</th>
                                    <th scope="col" class="table-info">Costo rollo
                                        sin iva</th>
                                    <th scope="col">Vlr. Mtr x Rollo</th>
                                    <th scope="col">Vlr. Mtr x Detal</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let material of materiales, let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <th scope="row">
                                        <span *ngIf="editingItem !== material._id">{{ material.nombreMaterial }}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === material._id"
                                            [(ngModel)]="material.nombreMaterial" />
                                    </th>
                                    <td>
                                        <span *ngIf="editingItem !== material._id">{{material.material}}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === material._id" [(ngModel)]="material.material" />

                                    </td>
                                    <td>
                                        <span *ngIf="editingItem !== material._id">{{material.largo_m}} mts</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === material._id" [(ngModel)]="material.largo_m" />
                                    </td>
                                    <td>
                                        <span *ngIf="editingItem !== material._id">{{material.ancho_m}} cms</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === material._id" [(ngModel)]="material.ancho_m" />
                                    </td>
                                    <td>
                                        <span *ngIf="editingItem !== material._id">{{material.grm_m2}}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === material._id" [(ngModel)]="material.grm_m2" />
                                    </td>
                                    <td class="table-info">
                                        <span
                                            *ngIf="editingItem !== material._id">{{ParserToNumber(material.costo_sinIva_Rollo)}}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === material._id"
                                            [(ngModel)]="material.costo_sinIva_Rollo" />
                                    </td>
                                    <td>
                                        {{ValorMetroXrollo(material.costo_sinIva_Rollo,material.largo_m)}}
                                    </td>
                                    <td>
                                        {{ValorMetroXdetal(ValorMetroXrollo(material.costo_sinIva_Rollo,material.largo_m),material.porcentajeValor,i)}}
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-outline-danger  m-1" (click)="openModalDeleteMaterial(templateConfirmeDelete)">Borrar</button>

                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-info m-1" *ngIf="editingItem !== material._id" (click)="EditarMaterial(material, material._id)">Editar</button>
                                                <button type="button" class="btn btn-success m-1" *ngIf="editingItem === material._id" (click)="saveEditItem(material)">Guardar</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenImpresiones = true"
    (closed)="panelOpenImpresiones = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Screen
            </mat-panel-title>
            <mat-panel-description>
                Tabla de las impresiones...
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="card">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">Impresion</h3>
                        <table class="table table-bordered table-striped">
                            <thead class="">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre Impresión</th>
                                    <th scope="col" class="table-info">Costo impresion</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let impresion of impresiones, let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <th scope="row">
                                        <span *ngIf="editingItem !== impresion._id">{{ impresion.nombreImpresion
                                            }}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === impresion._id"
                                            [(ngModel)]="impresion.nombreImpresion" />
                                    </th>

                                    <td class="table-info">
                                        <span
                                            *ngIf="editingItem !== impresion._id">{{ParserToNumber(impresion.costoImpresion)}}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === impresion._id"
                                            [(ngModel)]="impresion.costoImpresion" />
                                    </td>

                                    <td>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-danger  m-1"
                                                    (click)="openModalDeleteImpresion(templateConfirmeDeleteImpresion)">Borrar</button>

                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-info m-1"
                                                    *ngIf="editingItem !== impresion._id"
                                                    (click)="EditarMaterial(impresion, impresion._id)">Editar</button>
                                                <button type="button" class="btn btn-success m-1"
                                                    *ngIf="editingItem === impresion._id"
                                                    (click)="saveEditItem(impresion)">Guardar</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenConfecciones = true"
    (closed)="panelOpenConfecciones = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Confección
            </mat-panel-title>
            <mat-panel-description>
                Tabla de las confecciones...
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card class="card">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">Confeccion</h3>
                        <table class="table table-bordered table-striped">
                            <thead class=""> s <!-- dark-->
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre Confección</th>
                                    <th scope="col" class="table-info">Costo confección</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let confeccion of confecciones, let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <th scope="row">
                                        <span *ngIf="editingItem !== confeccion._id">{{ confeccion.nombreConfeccion
                                            }}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === confeccion._id"
                                            [(ngModel)]="confeccion.nombreConfeccion" />
                                    </th>

                                    <td class="table-info">
                                        <span
                                            *ngIf="editingItem !== confeccion._id">{{ParserToNumber(confeccion.costoConfeccion)}}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === confeccion._id"
                                            [(ngModel)]="confeccion.costoConfeccion" />
                                    </td>

                                    <td>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-danger  m-1"
                                                    (click)="openModalDeleteConfeccion(templateConfirmeDeleteConfeccion)">Borrar</button>
                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-info m-1"
                                                    *ngIf="editingItem !== confeccion._id"
                                                    (click)="EditarMaterial(confeccion, confeccion._id)">Editar</button>
                                                <button type="button" class="btn btn-success m-1"
                                                    *ngIf="editingItem === confeccion._id"
                                                    (click)="saveEditItem(confeccion)">Guardar</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenCordones = true"
    (closed)="panelOpenCordones = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Cordon
            </mat-panel-title>
            <mat-panel-description>
                Tabla de los cordones...
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card class="card">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">Cordones</h3>
                        <table class="table table-bordered table-striped">
                            <thead class="">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre Cordon</th>
                                    <th scope="col">Largo rollo</th>
                                    <th scope="col" class="table-info">Valor Rollo</th>
                                    <th scope="col" class="table-info">Valor Metro</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cordon of cordones, let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <th scope="row">
                                        <span *ngIf="editingItem !== cordon._id">{{ cordon.nombreCordon }}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === cordon._id" [(ngModel)]="cordon.nombreCordon" />
                                    </th>
                                    <th scope="row">
                                        <samp *ngIf="editingItem !== cordon._id">{{cordon.largoRollo}}</samp>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === cordon._id" [(ngModel)]="cordon.largoRollo" />

                                    </th>
                                    <td class="table-info">
                                        <span
                                            *ngIf="editingItem !== cordon._id">{{ParserToNumber(cordon.valorRollo)}}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === cordon._id" [(ngModel)]="cordon.valorRollo" />
                                    </td>
                                    <td class="table-info">
                                        <span
                                            *ngIf="editingItem !== cordon._id">{{ParserToNumber(cordon.valorMetro)}}</span>
                                        <input type="text" class="form-control bg-transparent text-dark"
                                            *ngIf="editingItem === cordon._id" [(ngModel)]="cordon.valorMetro" />
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-danger  m-1"
                                                    (click)="openModalDeleteCordon(templateConfirmeDeleteCordon)">Borrar</button>
                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-info m-1"
                                                    *ngIf="editingItem !== cordon._id"
                                                    (click)="EditarMaterial(cordon, cordon._id)">Editar</button>
                                                <button type="button" class="btn btn-success m-1"
                                                    *ngIf="editingItem === cordon._id"
                                                    (click)="saveEditItem(cordon)">Guardar</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>



<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<br>
<br>
<button type="button" class="btn btn-primary btn-sm" (click)="config.animated = !config.animated">{{config.animated ?
    'Disable' : 'Enable'}} animation</button> -->

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Just a modal with a bunch of words inside, nothing serious.
    </div>
</ng-template>

<ng-template #templateConfirmeDelete>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteMaterial()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="declineDelete()">No</button>
    </div>
</ng-template>

<ng-template #templateConfirmeDeleteImpresion>
    <div class="modal-body text-center">
        <p>¿Desea eliminar este registro de la tabla de screen?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteImpresion()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="declineDelete()">No</button>
    </div>
</ng-template>

<ng-template #templateConfirmeDeleteConfeccion>
    <div class="modal-body text-center">
        <p>¿Desea eliminar este registro de la tabla de confección?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteConfeccion()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="declineDelete()">No</button>
    </div>
</ng-template>

<ng-template #templateConfirmeDeleteCordon>
    <div class="modal-body text-center">
        <p>¿Desea eliminar este registro de la tabla de cordón</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteCordon()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="declineDelete()">No</button>
    </div>
</ng-template>